/* HTML BODY */
body {
    font-family: "Lato", sans-serif;
    background: linear-gradient(45deg, #00bcd4, #2196f3);
}

/* MAIN CONTAINER */
.central-container {
    display: flex;
    background-color: #fff;
    border-radius: 15px;
}

/* CONTENT CONTAINER */
.main-content {
    margin-left: 160px;
    padding: 0px 10px;
}

/* HEADER CONTAINER */
.header-container {
    padding-bottom: 10px;
}

.header-container h1 {
    padding-left: 10px;
}

/* SIDE NAVIGATION CONTAINER */
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

/* SIDE NAVIGATION LINKS */
.sidenav a {
    padding-top: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

#user-account {
    margin-top: -20px;
    text-decoration: none;
    font-size: 15px;
    display: block;
    color: #fff;
}

.sidenav a:hover {
    color: #f1f1f1;
}

#logout-link {
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 15px;
}

/* IMAGES INSIDE SIDE NAVIGATION*/
.user img {
    max-height: 40px;
}

.logo img {
    padding-top: 20px;
    margin-bottom: -10px;
    max-height: 60px;
}

/* SCROLL BUTTON */
#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: none;
}

#scroll-to-top img {
    width: 40px;
    height: 40px;
    -webkit-filter: drop-shadow(1px 1px 0 black) 
                    drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(1px 1px 0 black) 
            drop-shadow(-1px -1px 0 white);
}

/* BUTTON IN ADD POP=UP */
button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

input::file-selector-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

input::file-selector-button:hover {
    background-color: #0056b3;
}
  
/* ADD NEW ... */
#add-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

#add-button img {
    width: 40px;
    height: 40px;
    -webkit-filter: drop-shadow(1px 1px 0 black) 
                    drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(1px 1px 0 black) 
            drop-shadow(-1px -1px 0 white);
}

/* ADD NEW POP-UP */ 
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    display: none;
}

.popup {
    display: none;
    background: #fff;
    padding: 20px;
    padding-right: 40px;
    border-radius: 5px;
    text-align: left;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

label, input, textarea, select {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    width: 112%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
    font-family: "Lato", sans-serif;
}